// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {
  #logo {
    margin-left: -15px;
    margin-top: 10px;
  }
  ul.sf-menu {
    margin-left: -27px;
    margin-bottom: 15px;
  }
}